<?php

$PokemonServers = array (
  '{= sim.id =}' => 
  array (
    'name' => '{= sim.name | replace("'", "\\'") =}',
    'id' => '{= sim.id =}',
    'server' => '{= domains.sim =}',
    'port' => 8000,
  ),
);
