{
    "root": "{= domains.root =}",
    "client": "{= domains.client =}",
    "dex": "{= domains.dex =}",
    "replays": "{= domains.replays =}",
    "users": "{= domains.root =}/users",
    "teams": "{= domains.teams =}"
}
